
<app-testing></app-testing>

<h1>Hello {{title  }}</h1>

<p class="new">Hi {{name}}</p>

<h1>{{getvalue()}}</h1>

<h1>{{45+45+num}}</h1>

<h1>{{num == 100}}</h1> <!--compare-->

<p class="{{newClass}}">Binding Class</p>

<p>{{ifCondition()}}</p>
<app-customer></app-customer>  <!--inline style-->

<app-supplier></app-supplier>  <!--inline template-->

<app-user></app-user>   <!--- inline style inline template -->



<!--Module START-->

<app-register></app-register>

<app-one></app-one>



<!--Module END-->

<app-click></app-click>   <!--Key Events-->

<app-binding></app-binding>




<!--
  can not interpolation
<h1>{{num=200}}</h1> calc

<h1>{{num++}}</h1> compare  -->

