<br/>
<br/>

<input #inputtxt (keyup)="GetddataA(inputtxt.value)">
<br/>
<p>Enter Value : {{Enttext}} </p>
<br/>


<input #inputtxtNew >
<button type="button" (click)="GetddataANew(inputtxtNew.value)"class="btn btn-outline-primary">Click</button>

<br/>

<p>Display : {{display}}</p>


<h1>Counter</h1>
<br>
<br>

<button (click)="setData('add')"> + </button>
<br>
<br>
<input value ={{inputtext03}}>

<br>
<br>
<button (click)="setData('sub')"> - </button>


<br>
<br>

<h1 class="global_css">Global Css</h1>
