/* You can add global styles to this file, and also import other style files */
.global_css {
  color: blue;
}

.pd {
  padding-top: 25px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
